	<div class="container component-centered"
			style="margin: 5px auto; width: 30%; background: #ccc; border-radius: 15px; height: auto; padding: 30px;">

			<b>Login</b> <br /> <br />
			<form>
				<div class="form-group">


					<div class="input-group">
						<span class="input-group-addon" id="basic-addon">Username</span> <input
							type="text" class="form-control" id="exampleInputEmail1"
							ng-model="user" placeholder="Enter Username here">
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon2">Password</span>
						<input type="password" class="form-control"
							id="exampleInputPassword1" ng-model="pwd"
							placeholder="Enter password here">
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn btn-default" id="reset1">Reset</button>

					<button type="submit" class="btn btn-default"
						data-ng-click="runAuthentication1()">Submit</button>

				</div>
				<div class="form-group">
					<a href="#">Forgot Password ?</a>
				</div>


			</form>

		</div>
